<!-- Validation failure messages -->

<% if @membership.errors.any? %>
  <% @membership.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Membership #<%= @membership.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_membership/<%= @membership.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

          <!-- Label and input for professional_association_id -->
          <div class="form-group">
            <label for="professional_association_id" class="col-sm-2 control-label">
              Professional association
            </label>
            <div class="col-sm-10">
              <input type="text" id="professional_association_id" name="professional_association_id" placeholder="Professional association" class="form-control" value="<%= @membership.professional_association_id %>">
            </div>
          </div>

          <!-- Label and input for service_provider_id -->
          <div class="form-group">
            <label for="service_provider_id" class="col-sm-2 control-label">
              Service provider
            </label>
            <div class="col-sm-10">
              <input type="text" id="service_provider_id" name="service_provider_id" placeholder="Service provider" class="form-control" value="<%= @membership.service_provider_id %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Membership
              </button>
              or
              <a href="/memberships/<%= @membership.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
