<head>
  <style>

.main-jumbotron {
  background: url("<%= @service_provider.photo_banner %>") no-repeat center center;
  background-size: cover;
}

.main-jumbotron .container {
  color: #EEE;
  background:rgba(0,0,0,0.25);
  min-height: 300px;
}

/*.navbar-bottom {
  margin-bottom: 0px;
  border-radius: 0px;
  margin-top: 0px;
}*/

.img-sizing {
  height: 175px;
  width: 175px;
  position: left;
}

.margin {
  margin-bottom: 0px;
}


.review-img{
  height: 64px;
  width: 64px;
}

.img-alignment{
  float: left;
 }

.review-margin {
  margin-bottom: 10px;
}

.thumbnail_padding{
  margin-bottom: 10px;
  margin-top: 75px;

}

  </style>


</head>

<!--Page Banner-->
<div class="container">
  <div class="row">
    <div class="main-jumbotron" class="jumbotron margin">
      <div class="container">
        <img src="<%= @service_provider.photo_face %>" alt="..." class="img-thumbnail img-sizing img-alignment thumbnail_padding">
        <h1><%= @service_provider.company_name %></h1>
      </div>
    </div>
  </div>
</div>


<!-- COMPANY INFORMATION -->
<div class="containter">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <address>
        <strong><%= @service_provider.company_name  %></strong><br>
        <%= @service_provider.street_address_1 %> <%= @service_provider.street_address_2 %><br>
        <%= @service_provider.city %> <%= @service_provider.state %> <%= @service_provider.zip_code %><br>
        <abbr title="Phone">P:</abbr> <%= @service_provider.company_phone_number %>
      </address>

      <address>
        <strong><%= @service_provider.first_name %> <%= @service_provider.last_name %></strong><br>
        <a href="mailto:#"><%= @service_provider.personal_email_address %></a><br>
        <abbr title="Phone">C:</abbr> <%= @service_provider.cell_number %>
      </address>
    </div>

    <div class="col-sm-6 col-md-4">
        <h3>Industry Type</h3>
        <p class="lead"> <%= @service_provider.industry_type.name %></p>
    </div>
    <div class="col-sm-6 col-md-4">
        <h3>Space Type</h3>
        <p class="lead"> <%= @service_provider.space_type.name %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <h3>Company Description</h3>
      <p class="lead"> <%= @service_provider.company_description %></p>
    </div>
  </div>
</div>



<!--PROJECTS: Thumbnails To Show Projects-->
<div class="container">
 <div class="row">
   <div class="col-xs-3">
     <h3>Projects</h3>
   </div>
 </div>
</div>

<div class="container">
 <div class="row">
   <% @service_provider.projects.each do |project| %>
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <% project.photos.each do |photo| %>
       <img src="<%= photo.image %>">
       <% end %>
       <div class="caption">
         <h4><%= project.name %></h4>
         <p><a href="/projects/<%= project.id %>" class="btn btn-primary" role="button">Button</a></p>
       </div>
     </div>
   </div>
   <% end %>
 </div>
</div>



<% if current_service_provider.id == @service_provider.id %>
<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <h3>Add New Projects Here</h3>
    </div>
  </div>
</div>

  <!-- Validation failure messages -->

  <% if @project.errors.any? %>
    <% @project.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <!-- Responsive panel example -->

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Project</h3>
        </div>
        <div class="panel-body">
          <form action="/create_project" method="post" class="form-horizontal">
            <!-- Hidden input for authenticity token to protect from forgery -->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Hidden service_provider_id-->
            <input type="hidden" name="service_provider_id" value="<%= current_service_provider.id %>">

            <!-- Label and input for name -->
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">
                Name
              </label>
              <div class="col-sm-10">
                <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @project.name %>">
              </div>
            </div>

            <!-- Label and input for space_type_id -->
            <div class="form-group">
              <label for="space_type_id" class="col-sm-2 control-label">
                Space Type
              </label>
              <div class="col-sm-10">
                <%= select_tag(:space_type_id, options_from_collection_for_select(SpaceType.all, :id, :name, @project.space_type_id), :class => "form-control") %>
              </div>
            </div>

            <!-- Label and input for category_id -->
            <div class="form-group">
              <label for="category_id" class="col-sm-2 control-label">
                Category
              </label>
              <div class="col-sm-10">
                <input type="text" id="category_id" name="category_id" placeholder="Category" class="form-control" value="<%= @project.category_id %>">
              </div>
            </div>

            <!-- Label and input for cost_amount -->
            <div class="form-group">
              <label for="cost_amount" class="col-sm-2 control-label">
                Cost amount
              </label>
              <div class="col-sm-10">
                <input type="text" id="cost_amount" name="cost_amount" placeholder="Cost amount" class="form-control" value="<%= @project.cost_amount %>">
              </div>
            </div>

            <!-- Label and input for street_address_1 -->
            <div class="form-group">
              <label for="street_address_1" class="col-sm-2 control-label">
                Street address 1
              </label>
              <div class="col-sm-10">
                <input type="text" id="street_address_1" name="street_address_1" placeholder="Street address 1" class="form-control" value="<%= @project.street_address_1 %>">
              </div>
            </div>

            <!-- Label and input for street_address_2 -->
            <div class="form-group">
              <label for="street_address_2" class="col-sm-2 control-label">
                Street address 2
              </label>
              <div class="col-sm-10">
                <input type="text" id="street_address_2" name="street_address_2" placeholder="Street address 2" class="form-control" value="<%= @project.street_address_2 %>">
              </div>
            </div>

            <!-- Label and input for city -->
            <div class="form-group">
              <label for="city" class="col-sm-2 control-label">
                City
              </label>
              <div class="col-sm-10">
                <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @project.city %>">
              </div>
            </div>

            <!-- Label and input for zip -->
            <div class="form-group">
              <label for="zip" class="col-sm-2 control-label">
                Zip
              </label>
              <div class="col-sm-10">
                <input type="text" id="zip" name="zip" placeholder="Zip" class="form-control" value="<%= @project.zip %>">
              </div>
            </div>

            <!-- Label and input for state -->
            <div class="form-group">
              <label for="state" class="col-sm-2 control-label">
                State
              </label>
              <div class="col-sm-10">
                <input type="text" id="state" name="state" placeholder="State" class="form-control" value="<%= @project.state %>">
              </div>
            </div>

            <!-- Label and input for description -->
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">
                Description
              </label>
              <div class="col-sm-10">
                <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @project.description %></textarea>
              </div>
            </div>

            <!-- Label and input for completed_on -->
            <div class="form-group">
              <label for="completed_on" class="col-sm-2 control-label">
                Completed on
              </label>
              <div class="col-sm-10">
                <input type="text" id="completed_on" name="completed_on" placeholder="Completed on" class="form-control" value="<%= @project.completed_on %>">
              </div>
            </div>

            <!-- Label and input for cost_amount_description -->
            <div class="form-group">
              <label for="cost_amount_description" class="col-sm-2 control-label">
                Cost amount description
              </label>
              <div class="col-sm-10">
                <input type="text" id="cost_amount_description" name="cost_amount_description" placeholder="Cost amount description" class="form-control" value="<%= @project.cost_amount_description %>">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success">
                  Create Project
                </button>
                or
                <a href="/projects">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- End responsive panel example -->


<% end %>

